body {
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 1.2em;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 300;
}

h4 {
    font-weight: 300;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

a:visited {
    color: #ffffff
}

#container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
}

#overlay {
}

.main {
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 5%; */
}

.heading-box {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 75vh;
    /* padding: 5%; */
}

.heading-icon {
    height:inherit;
}

/* .heading-text {
    display: block;
} */

.nav-box {
    width: 100%;
}

.navs-1 {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.navs-1 > li {
    flex: 1;
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;
}

.navs-2 {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.navs-2 > li {
    flex: 1;
    list-style-type: none;
    text-align: center;
    font-size: 1em;
    padding: 2vh 0;
}

.slider {
    position: absolute;
    top: 40vh;
    left: 50px;
    width: 24px;
    height: 200px;
}

.bar {
    position: absolute;
    height: 100%;
    width: 4px;
    margin-left: 10px;
    border-radius: 2px;
    background-color: #888888;
}

.handle {
    position: relative;
    background-color: #000000;
    height: 24px;
    width: 24px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: ns-resize;
}

.gradient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background: rgba(0,0,0,0.8);
}

.divider {
    width: 40%;
    border-top: 2px solid #ffffff;
    margin: 9vh 0;
}

.section {
    max-width: 600px;
}

.about, .cv, .earth {

}

.subheading-box {

}

.content {

}

.large {
    font-size: 1.3em;
    text-align: center;
}

.item {
    margin-top: 3em;
}

.footer {
    font-size: 0.8em;
    margin-top: 9vh;
}

@media (min-width: 992px) {

    h2 {
        font-size: 1.5em;
    }

    .navs-1 {
        display: none;
    }

    .navs-2 {
        display: flex;
    }

    .divider {
        margin: 15vh 0;
    }

    .large {
        font-size: 1.5em;
    }

}

@media (min-width: 1200px) {

    .navs-2 > li {
        font-size: 1.2em;
    }

}
